<ion-modal-view>
<ion-header-bar>
        <h4 class='title'>Submit Your Comment</h4>
        <button class='button button-clear button-calm' ng-click='closeComment()'>Close</button>
</ion-header-bar>
    <ion-content>
        <form name='commentform' id='commentform' ng-submit='commentSubmit()'>
            <div class='list'>
            <li class='item item-select item-input'>
            <label>
                <span class='input-label'>Rating</span>
                <select ng-model="formval.rating">
                    <option ng-repeat="rate in [1,2,3,4,5]" value='{{rate}}'>{{rate}}
                    </option>
                </select>
            </label>
            </li>
            <li>
            <label class='item item-input'>
                <span class='input-label'>Your Name</span>
                <input type='text' ng-model='formval.author'>
                </label>
            </li>
            <li>
            <lable class='item item-input'>
                <span class='input-label'>Your Comment</span>
                <input type='text' ng-model='formval.comment'>
                </lable>
            </li>
            <button type='submit' class='button button-block button-calm'>Submit</button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>